$steam-header: "_3Z7VQ1IMk4E3HsHvrkLNgo";

$steam-header-titlebar: "_39oUCO1OuizVPwcnnv88no";
$steam-header-titlebar-menu: "_1Ky59qmywxOUtNcI1cgmkX";
$steam-header-titlebar-menu-button: "_2UyOBeiSdBayaFdRa39N2O";
$steam-header-titlebar-actions: "_3cykd-VfN_xBxf3Qxriccm";
$steam-header-titlebar-actions-button: "_2Szzh5sKyGgnLUR870zbDE";
$steam-header-titlebar-actions-button-bigscreen: "_3LKQ3S_yqrebeNLF6aeiog";
$steam-header-titlebar-actions-user: "_3yD46y5pd3zOGR7CzKs0mC";
$steam-header-titlebar-actions-user-avatar: "nibodjvvrm86uCfnnAn4g";
$steam-header-titlebar-actions-user-avatar-status: "_3xUpb5DWXPFNcHHIcv-9pe";
$steam-header-titlebar-controls: "qP17eBPXkfezFfexZ4hC3";

$steam-header-navbar: "_3Z3ohQ8-1NKnCZkbS6fvy";

$steam-urlbar: "UkR3sY319PuaUNuUWks2K";

$steam-footer: "_3vCzSrrXZzZjVJFZNg9SGu";

$steam-footer-left: "_2foCkpRXhqq0UGVE50BWqj";
$steam-footer-left-text: "_3OhUxFVlQYr9W5ThxstR8k";
$steam-footer-center: "_2EQ7ghgqIdjKv9jsQC0Zq9";
$steam-footer-center-text: "_3wJnTtcTLEp0R7eQj_mK8Y";
$steam-footer-right: "_1TdaAqMFadi0UTqilrkelR";
$steam-footer-right-text: "_3OhUxFVlQYr9W5ThxstR8k";
