$steam-container: "_3mz8wQ6Q44B8P7pzPP4Iyw";

$steam-header: "_3Z7VQ1IMk4E3HsHvrkLNgo";

$steam-header-titlebar: "_39oUCO1OuizVPwcnnv88no";
$steam-header-titlebar-menu: "_1Ky59qmywxOUtNcI1cgmkX";
$steam-header-titlebar-menu-button: "_2UyOBeiSdBayaFdRa39N2O";
$steam-header-titlebar-actions: "_3cykd-VfN_xBxf3Qxriccm";
$steam-header-titlebar-actions-button: "_2Szzh5sKyGgnLUR870zbDE";
$steam-header-titlebar-actions-button-bigscreen: "_3LKQ3S_yqrebeNLF6aeiog";
$steam-header-titlebar-actions-user: "_3yD46y5pd3zOGR7CzKs0mC";
$steam-header-titlebar-actions-user-avatar: "nibodjvvrm86uCfnnAn4g";
$steam-header-titlebar-actions-user-avatar-status: "_3xUpb5DWXPFNcHHIcv-9pe";
$steam-header-titlebar-controls: "qP17eBPXkfezFfexZ4hC3";

$steam-header-navbar: "_3Z3ohQ8-1NKnCZkbS6fvy";
$steam-header-navbar-inner: "_2D64jIEK7wpUR_NlObDW76";
$steam-header-navbar-browser-location-button: "_25lBLzuVeYAUG279up4xP8";
$steam-header-navbar-browser-location-button-active: "_1LYTHQzcI1u6tcxbbcc5V3";
$steam-header-navbar-browser-tab-button: "_2Lu3d-5qLmW4i19ysTt2jT";
$steam-header-navbar-browser-tab-button-text: "_19axKcqYRuaJ8vdYKYmtTQ";
$steam-header-navbar-browser-tab-button-active: "_1gqEjB5QsKT_NftD1dEsdZ";

$steam-browser-container: "_1bGewp3tfzqAF6fVTFFUOz";
$steam-browser-urlbar: "UkR3sY319PuaUNuUWks2K";
$steam-browser-content: "_29p1jfvZ-VdlXK24_7UGsK";

$steam-libaray-container: "_1rDh5rXSFZJOqCa4UpnI4z";
$steam-libaray-separator: "_2CmrnGY-Amtd83ScJkFvx2";
$steam-libaray-left-container: "_9sPoVBFyE_vE87mnZJ5aB";
$steam-libaray-left-content: "_3x1HklzyDs4TEjACrRO2tB";
$steam-libaray-resize-handle: "_276E6ijBpjMA2_iTxNhhjc";
$steam-libaray-right-container: "_3BFcmjAaMyP6GTPwc0VyWi";
$steam-libaray-right-content: "_2Dd4T78PcCTUVgOtDGFY5j";

$steam-footer: "_3vCzSrrXZzZjVJFZNg9SGu";

$steam-footer-left: "_2foCkpRXhqq0UGVE50BWqj";
$steam-footer-left-text: "_3OhUxFVlQYr9W5ThxstR8k";
$steam-footer-center: "_2EQ7ghgqIdjKv9jsQC0Zq9";
$steam-footer-center-text: "_3wJnTtcTLEp0R7eQj_mK8Y";
$steam-footer-right: "_1TdaAqMFadi0UTqilrkelR";
$steam-footer-right-text: "_3OhUxFVlQYr9W5ThxstR8k";
