.#{$steam-container} {
  background-color: var(--color-elaina-background-base) !important;
}

.#{$steam-header} {
  background-color: var(--color-elaina-background-base);

  .#{$steam-header-titlebar} {
    @apply h-10 pt-0.5;
    background-color: var(--color-elaina-background-lighter);

    .#{$steam-header-titlebar-menu} {
      @apply mt-0 gap-0;

      .#{$steam-header-titlebar-menu-button} {
        @apply p-0;

        > div:nth-child(1) {
          @apply rounded-full px-2 py-1;
          color: var(--color-elaina-text);
          font-size: 14px;
          font-weight: 600;

          &:hover {
            background-color: var(--color-elaina-background-base);
          }
        }
      }
    }

    .#{$steam-header-titlebar-actions} {
      @apply mr-3 mt-0;

      .tool-tip-source {
        .#{$steam-header-titlebar-actions-button} {
          @apply rounded-full;
        }

        .#{$steam-header-titlebar-actions-user} {
          @apply relative h-6 rounded-full;
          padding-left: 36px;
          background-color: var(--color-elaina-background-base);

          .#{$steam-header-titlebar-actions-user-avatar} {
            @apply absolute -left-1 -top-1.5 size-9 overflow-clip rounded-full;
            background-color: var(--color-elaina-background-darker);

            .#{$steam-header-titlebar-actions-user-avatar-status} {
              @apply static w-full;
            }

            img.avatar {
              @apply absolute left-0.5 top-0.5 rounded-full;
              width: 31px;
              height: 31px;
            }
          }
        }

        .#{$steam-header-titlebar-actions-button-bigscreen} {
          @apply rounded-full;

          &:hover {
            background-color: var(--color-elaina-background-base);
          }

          svg {
            top: 14px;
            color: var(--color-elaina-text) !important;
          }
        }
      }
    }

    .#{$steam-header-titlebar-controls} {
      .title-bar-actions.window-controls {
        @apply pr-2 pt-1;

        .title-area-icon {
          @apply rounded-full;

          &:hover {
            background-color: var(--color-elaina-background-base);
          }

          svg,
          line {
            fill: var(--color-elaina-text) !important;
            color: var(--color-elaina-text) !important;
            stroke: var(--color-elaina-text) !important;
          }
        }
      }
    }
  }

  .#{$steam-header-navbar} {
    @apply p-2 pb-0;
    height: 44px !important;

    .#{$steam-header-navbar-inner} {
      @apply flex items-center gap-0 rounded-full p-2;
      background-color: var(--color-elaina-background-lighter);
      height: calc(100% - 16px);

      .#{$steam-header-navbar-browser-location-button} {
        @apply mr-2 rounded-full p-1.5;
        color: var(--color-elaina-text-darker);
        background-color: var(--color-elaina-background-base);
        opacity: 0.8;

        &.#{$steam-header-navbar-browser-location-button-active} {
          color: var(--color-elaina-text);
          opacity: 1;
        }
      }

      .#{$steam-header-navbar-browser-tab-button} {
        @apply h-7 p-0;
        background-color: var(--color-elaina-background-base);

        &:first-of-type {
          @apply rounded-l-full;

          .#{$steam-header-navbar-browser-tab-button-text} {
            @apply pl-4;
          }
        }

        &:last-of-type {
          @apply rounded-r-full;

          .#{$steam-header-navbar-browser-tab-button-text} {
            @apply pr-4;
          }
        }

        &:hover {
          @apply shadow-lg;
          background-color: var(--color-elaina-text);
          opacity: 0.8;

          .#{$steam-header-navbar-browser-tab-button-text} {
            color: var(--color-elaina);
          }
        }

        .#{$steam-header-navbar-browser-tab-button-text} {
          @apply px-3 py-1 text-base font-bold leading-5;
          color: var(--color-elaina-text);

          &::after {
            content: none;
          }
        }
      }

      .#{$steam-header-navbar-browser-tab-button-active} {
        background-color: var(--color-elaina-text);

        .#{$steam-header-navbar-browser-tab-button-text} {
          @apply shadow-none;
          color: var(--color-elaina);
        }
      }
    }
  }
}

.#{$steam-browser-container} {
  background-color: var(--color-elaina-background-base) !important;

  .#{$steam-browser-urlbar} {
    @apply rounded-full;
    background-color: var(--color-elaina-background-lighter) !important;
    margin: 6px 8px 8px 8px !important;
    padding: 8px !important;
    box-shadow: none !important;
  }
}
